/* LOGIN Y CONTACTO */

body{
   
    background-color: rgb(223, 222, 222); 
}

/* FORMULARIO DE LOGIN */

#login{
    margin-top: 100px;
    max-width: 30rem;
    display: flex;
    margin-left: auto; 
    margin-right: auto;
      
}

h4{
    margin-top: 15px;
}

#botones{
    margin-top: 15px;
}

/* FORMULARIO DE CONTACTO 👇 */

#contacto{
    
    margin-top: 50px;
    max-width: 550px;
    padding: 15px;
    border-radius: 10px;
     
}
.form-label{
    color: white;
}
#newsletter{
    color: white;
}
#button{
    margin: 15px;
}
label{
    padding-bottom: 3px;
}

/* FORMULARIO DE CONTACTO 👆 */


/* MODAL CARRITO DE COMPRAS 👇 */
#carrito{
    max-width: 60%;
    position: absolute;
    z-index: 9;
    top:100px;
    margin-left: 20%;
    margin-right: auto;
    display: none;     
}

@media only screen and (max-width: 770px)  {#carrito{
    width: 100%;
    margin-left: 0px;
    margin-right: auto;
  
}
}

#close{
    text-align: right;
}
/* CARRITO DE COMPRAS 👆 */


/* APP CLIMA */
#clima{
    position: absolute;
    z-index: 9;
    top:100px;
    margin-right: auto;
    margin-left: 80%;
    color: white;
    background-color: rgba(8, 8, 8, 40%);
}
@media only screen and (max-width: 770px)  {#clima{
    margin-right: auto;
    margin-left: 55%;
}
}


/* PIE DE PAGINA */
a{
    color: rgb(184, 190, 180);
    text-decoration: none;   
}
a  :hover{
    color: black;
}

/* FINAL DE LA COMPRA */
#finalizacion{
    padding: 5rem;
    color: white;
    background-color: rgb(3, 3, 3);
    position: absolute;
    z-index: 10;
    top:100px;
    margin-right: auto; 
    margin-left: 25rem;
    border: solid 3px;
    border-color: rgb(46, 128, 66);
    border-radius: 5%;
    display: none;
}
@media only screen and (max-width: 770px)  {#finalizacion{
    max-width: 30rem;
    padding: 1rem;
    margin-left: 0px;
    margin-right: auto;
  
}
}
#gracias{
    text-align: center;
}
